.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: var(--yellow);
}
.top h2 {
  letter-spacing: -1.2px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: initial;
  color: var(--black);
  text-align: center;
}
.bot {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.right h3 {
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: var(--black);
  opacity: 0.5;
  text-align: justify;
}
.right p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  opacity: 0.5;
}
.right h4 {
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
}
.left img {
  width: 550px;
  height: 550px;
}
.right img {
  width: 200px;
    height: 40px;
    margin: 20px 0px;
}
@media screen and (max-width: 500px) {
  .top p {
    font-size: 16px;
    line-height: 24px;
  }
  .top h2 {
    font-size: 44px;
    line-height: 44px;
  }
  .bot {
    flex-direction: column;
  }
  .left img {
    width: 350px;
    height: 350px;
  }
  .right img {
    margin: 20px 0px 5px;
}
  .right h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .right p {
    font-size: 16px;
    line-height: 24px;
  }
  .right h4 {
    font-size: 16px;
    line-height: 24px;
  }
}