.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid var(--black); */
  padding: 2rem;
  gap: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-color: var(--yellow);
  cursor: pointer;
  box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.42);
}
.icon i {
  font-size: 32px;
  color: var(--black);
}
.container h3 {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
