.content {
  display: flex;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
}
.navbar {
  padding: 1rem;
}
.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  padding-top: 1rem;
}
.pages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}
.title {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  margin-bottom: 1rem;
}
.title h2 {
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}

.nothingTable {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}