.background {
  position: relative;
  z-index: 1;
}
.backgroundImage {
  position: absolute;
  z-index: -1;
}
.backgroundImage img {
  width: 1000px;
  height: 450px;
}
.content {
  display: flex;
  align-items: center;
  padding: 3rem;
}
.left h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: initial;
  color: var(--white);
}
.left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* text-transform: capitalize; */
  color: var(--white);
  margin: 1rem 0;
}
.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 8px;
  cursor: pointer;
}
.button p {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: var(--black);
}
.google {
  width: 25px;
  height: 25px;
}
.right img {
  width: 350px;
  height: 350px;
}
.apple {
  width: 25px;
  height: 30px;
}
.line {
  width: 1px;
  height: 20px;
  border-radius: 8px;
  background-color: black;
}
@media screen and (max-width: 500px) {
  .content {
    flex-direction: column;
    padding: 2rem;
  }
  .left h2 {
    font-size: 42px;
    line-height: 44px;
  }
  .left p {
    font-size: 16px;
    line-height: 24px;
  }
  .backgroundImage img {
    width: 350px;
    height: 530px;
  }
  .button {
    padding: 0.7rem;
  }
  .button p {
    font-size: 15px;
    line-height: 28px;
  }
  .apple {
    width: 21px;
    height: 25px;
  }
  .google {
    width: 20px;
    height: 20px;
  }
  .right {
    margin-bottom: -3rem;
  }
  .right img {
    width: 280px;
    height: 250px;
  } 
}