.title p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 10px;
}
.title h2 {
  letter-spacing: -1.2px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: initial;
  color: var(--black);
  width: 60%;
}
.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.question {
    padding: 1.5rem;
}
.question h3 {
  letter-spacing: -0.5px;
  text-transform: initial;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.question p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .title p {
    font-size: 16px;
    line-height: 24px;
  }
  .title h2 {
    font-size: 44px;
    line-height: 48px;
  }
  .questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    margin-top: 2rem;
  }
  .question {
      padding: 1rem;
  }
  .question h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .question p {
    font-size: 14px;
    line-height: 20px;
  }
}