@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --max: 1100px;
  --border-radius: 12px;
  --font: "Montserrat", sans-serif;

  /* Colors */
  --white: #FFFFFF;
  --yellow: #0077B6;
  --black: #100E0E;
  --gray: #8F877F;

}
.swiper-pagination-bullet-active {
  background-color: var(--red) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: var(--font);
}
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max);
}

.section {
  padding: 2rem 3rem;
}
.section_two {
  padding: 0rem 3rem;
}

.container_order {
  position: relative;
}
.yellow {
  background-color: var(--yellow);
  border-radius: 12px;
}
.yellow p, .yellow h3 {
  color: var(--white);
}