@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --max: 1100px;
  --maxSecond: 1600px;
  --min: 400px;
  --border-radius: 12px;
  --font: "Montserrat", sans-serif;

  /* Colors */
  --white: #FFFFFF;
  --blueMain: #00B4D8;
  --blueDeep: #0077B6;
  --blueSoft: #90E0EF;
  --gray: #CAF0F8;
  --black: #1F1F1F;
  --blueDark: #03045E;

}
.swiper-pagination-bullet-active {
  background-color: var(--red) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: var(--font);
}
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max);
}

.section {
  padding: 1rem 2rem;
}
.section_two {
  padding: 0rem 3rem;
}

.container_order {
  position: relative;
}
.yellow {
  background-color: var(--blueMain);
  border-radius: 12px;
}
.yellow p, .yellow h3 {
  color: var(--white) !important;
}

.icon-social {
  font-size: 2rem;
  color: var(--white);
}
@media screen and (max-width:500px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--min);
  }
  
  .section {
    padding: 1rem 1rem;
  }
  .section_two {
    padding: 0rem 1rem;
  }
  .icon-social {
    font-size: 1.5rem;
    color: var(--white);
  }
}
@media screen and (min-width:1400px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--maxSecond);
  }
}