.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: -3rem;
}
.title img {
  width: 100px;
  height: 100px;
}
.title h2 {
  margin-top: 3.5px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: var(--black);
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}
.panel {
  width: 400px;
}
.forget {
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.forget:hover {
  color: var(--yellow);
}
