.menu {
    background-color: var(--yellow);
    width: 20vw;
    height: 100vh;
    padding: 1rem 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
}
