.modal {
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 2rem;
  background-color: var(--white);
  height: 550px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputs {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
}

.input {
  display: flex;
  width: 700px;
  gap: 1.5rem;
}

.input input {
  width: 350px;
}

.buttons {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.title h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}


/* Travel */
.contentTravel {
  padding: 2rem;
  background-color: var(--white);
  height: 550px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  overflow-y: scroll;
  width: 1100px;
}
.time {
  display: flex;
  gap: 0.5rem;
}
.timeInput {
  width: 90px;
}
.travel {
  display: flex;
  gap: 1.5rem;
}
.departure, .arrival {
  display: flex;
  flex-direction: column;
  width: 900px;
  gap: 1.5rem;
}
.inputs p {
  font-size: 20px;
  padding: 1rem 0rem;
  border-bottom: 1px solid rgba(102, 101, 101, 0.363);
}
.form, .datetime {
  display: flex;
  gap: 1.5rem;
}
.datetime {
  justify-content: space-between;
}
.date input {
  width: 110px;

}
.timeStop input {
  width: 100px;
}

.dateStop input {
  width: 100px;

}
.stopContent {
  display: flex;
  flex-direction: column;
}
.stopForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.deleteStop {
  margin-top: 1rem;
  align-self: flex-end;
}
.inputTravelOther, .inputTravel {
  display: flex;
  width: 900px;
  gap: 1.5rem;
}
.inputTravelOther {
  margin-top: 1.5rem;
}

/* .inputStop input {
  width: 350px;
} */