.modal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  padding: 2rem;
  background-color: var(--white);
  height: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputs {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
}
.input {
  display: flex;
  width: 700px;
  gap: 1.5rem;
}
.input input {
  width: 350px;
}
.buttons {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.title h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.line {
  height: 1px;
  border-radius: 50%;
  width: 100%;
  margin: 2rem 0 0rem;
  background-color: rgba(102, 101, 101, 0.363);
}

/* Travel */
.contentTravel {
  padding: 2rem;
  background-color: var(--white);
  height: 750px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  overflow-y: scroll;
}
.travel {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  width: 700px;
}
.departure, .arrival {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 1.5rem;
}
.departure p, .arrival p {
  font-size: 20px;
  padding-bottom: 1rem;
  /* margin-left: 1rem; */
  border-bottom: 1px solid rgba(102, 101, 101, 0.363);
}
.form, .datetime {
  display: flex;
  gap: 1.5rem;
}
.date input {
  width: 140px;

}
.timeStop input {
  width: 100px;
}

.dateStop input {
  width: 100px;

}
.stopContent {
  display: flex;
  flex-direction: column;
}
.stopForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.deleteStop {
  margin-top: 1rem;
  align-self: flex-end;
}