.profiles {
  display: flex;
  gap: 3rem;
  margin-bottom: 13rem;
}
.profile {
  border: 1px solid var(--black);
  padding: 1rem;

  max-width: 250px;
  max-height: 250px;
  border-radius: 8px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profileName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile:hover {
  background-color: var(--yellow);
}
.profile p {
  font-family: var(--font);
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
}
.title {
  font-family: var(--font);
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  margin: 3rem 0;
}

/* Modal */
.modal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.96);
  height: 330px;
  width: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.inputs {
  display: flex;
  gap: 1rem;
}
.inputs input {
  width: 25px;
  height: 25px;
}
.modalTitle {
  font-family: var(--font);
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 2rem;
}
.arrow {
  align-items: flex-start;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
