.content {
    display: flex;
  }
  .content h1 {
    margin-bottom: 1em;
  }
  .search {
    width: 900px;
    display: flex;
    flex: 1;
    margin-top: 2rem;
    /* justify-content: space-between; */
  }